<h2 class="text-center mt-4" id="logo1"><%= @article.title %></h2>
<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5  rounded" style="background-image: linear-gradient(to right, #ffff99 0%, #99ff99 74%)">
            <div class="card-header font-italic">
                by <%= @article.blogger.email if @article.blogger %>
                <%= link_to gravatar_for(@article.blogger), user_path(@article.blogger_id) %>
                <% if @article.categories.any? %>
                    <div class="mt-2" ><%= render @article.categories %></div>
                <% end %>
            </div>
            <div class="card-body">
                <div class="card-text text-left"><%= simple_format(@article.description) %></div>
                <% if blogger_signed_in? && ( @article.blogger == current_blogger ) %>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
                <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
            </div>
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
                edited <%=time_ago_in_words(@article.updated_at) %> ago</small>
            </div>
        </div>
    </div>
    </div>
</div>
